h5py
kornia
torch
torchvision
omegaconf
torchmetrics==0.10.3
fvcore
iopath
submitit
pathlib
transforms3d
numpy
pandas
plyfile
easydict
scikit-image
matplotlib
pyyaml
tabulate
tqdm
loguru
opencv-python
--extra-index-url https://pypi.nvidia.com
einops